<template>
<div>

  <div v-if="gettingLocation">
    <v-progress-circular
      indeterminate
      color="primary"
    />
    <h3>Getting location...</h3>
  </div>

  <div v-else>
    
    <weather />        

  </div>

</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import weather from '@/components/weather';

export default {
  components: {
    weather
  },
  data() {
    return {
      gettingLocation: true
    }
  },
  created(){
    // when app mounts get users location by IP address
    this.getLocationByIp()    
  },
  methods: {
    // get users location by IP
    getLocationByIp() {
      fetch('http://ip-api.com/json').then(response => response.json())
      .then(data => {
        // set location in Vuex    
        this.$store.dispatch('setLocation', data)
        this.gettingLocation = false
      }).catch(error => {

        throw new Error('getting users IP address')
        
        // if getting location by IP fails use default location
        this.$store.dispatch('setLocation', {
          city: 'Samara',
          country: 'Costa Rica',
          countryCode: 'CR'
        })
        
        this.gettingLocation = false

      })
    }
  }
}
</script>
