<template>
<div>
  <v-flex text-xs-center xs12 v-show="loadingWeather">
    <v-progress-circular
      indeterminate
      color="primary"
    />
    <h3>Loading Weather</h3>
  </v-flex>
  
  <v-flex xs12 v-show="!loadingWeather" class="weather">
    <h3>A <span class="primary--text">{{ dayType }}</span> day is a nice day for me in </h3>
    <h2><i>{{ location.city }}, {{ location.country }}</i></h2>

    <v-container grid-list-xs>
      <v-layout row wrap>
        <v-flex xs12 sm4 class="details">
          <p>Temp</p>
          {{ weather.temp }} &#8451;
        </v-flex> 

        <v-flex xs12 sm4 class="details">
          <p>Wind</p>
          <span v-if="weather.wind.deg">{{ windDirection(weather.wind.deg) }} @</span>
          <span v-else>Unknown Direction</span>
          {{ Math.round(weather.wind.speed) }} m/s
        </v-flex> 

        <v-flex xs12 sm4 class="details">
          <p>Rain</p>
          {{ weather.rain ? weather.rain['1h'] + ' mm/hr' : 'No rain today. Get out and enjoy nature!' }}
        </v-flex> 

        <v-flex xs12 mt-5>
          <v-btn @click="settingsDialog = true" flat icon>
            <v-icon>settings</v-icon>
          </v-btn>
        </v-flex>       
      </v-layout>
    </v-container>

  </v-flex>
 
 <!-- Dialog box for changing nice day type  -->
  <v-dialog
    v-model="settingsDialog"    
    max-width="500px"
    transition="dialog-transition">

    <v-card>
      <v-card-title primary-title>
        <h3>A Nice Day to me means...</h3>
      </v-card-title>
      <v-card-text>
        <v-select
          :items="dayTypes"
          item-text="main"
          v-model="dayType"
          label="Day Type..."
          @change="changeDayType"
        ></v-select>
      </v-card-text>
    </v-card>

  </v-dialog>

</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'location',
      'niceDayType'
    ]),
    dayType: {
      get(){
        return this.niceDayType
      },
      set(type){
        this.$store.dispatch('setNiceDayType', type)
      }
    }
  },
  data: () => ({
    settingsDialog: false,
    loadingWeather: true,
    apiKey: '75a19ae7341ebaed1993c60c07f2bcb7',
    dayTypes: ['Mist', 'Drizzle', 'Clear', 'Rain'],
    weather: {
      temp: null,
      wind: {},
      rain: null 
    }
  }),
  created(){
    this.getWeather()
  },
  methods: {
    getWeather() {      
      fetch('http://api.openweathermap.org/data/2.5/weather?q='+ this.location.city +','+ this.location.countryCode +'&units=metric&APPID=' +this.apiKey)      
      .then(response => response.json())
      .then(response => {
        // console.log('response from fetch: ', response)

        this.dayTypes.push(response.weather[0])

        this.$store.dispatch('setNiceDayType', response.weather[0].main)

        Object.assign(this.weather, {
          temp: Math.round(response.main.temp),
          wind: response.wind,
          rain: response.rain ? response.rain : null,
          city: response.name,
          country: response.sys.country
        })

        this.$nextTick(()=>{
          this.loadingWeather = false
        })
      }).catch(error => {
        throw new Error('getting weather info')
      })
      
    },
    windDirection(num) {
      let val = Math.floor((num / 22.5) + 0.5),
          dirs = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];
      return dirs[(val % 16)];
    },
    changeDayType(type) {
      this.$store.dispatch('setNiceDayType', type)
      this.settingsDialog = false
    }  
  }
}
</script>

<style lang="scss" scoped>
.weather {
	.primary--text {
		font-weight: bolder;
	}

	.details {
		font-size: large;
		> p {
			font-size: xx-large;
		}
	}
}
</style>
