<template>
  <v-app>
    <v-container pb-0 fill-height text-xs-center>
      <v-layout row wrap align-center>
        <transition name="slide-y-reverse-transition" origin="bottom center -100">
          <v-flex v-if="delay" xs12>
            <img :src="require('@/assets/and-logo.png')" height="300" width="300" alt="A Nice Day Logo">
            <h1 pb-0>A Nice Day.</h1>
          </v-flex>        
        </transition>
        </v-layout>
    </v-container>
    <v-container pt-0 text-xs-center>
      <v-layout>
        <v-flex xs12>
          <transition name="fade">
            <router-view v-if="delay" />
          </transition>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      delay: false
    }
  },
  mounted(){
    this.$nextTick(() => {
      this.delay = true
    })
  }
}
</script>

<style lang="scss">
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
</style>

